{% extends "index.html" %}

{% block title %}Forgot Password{% endblock title %}

{% block body %}
<div class='signup-wrapper' >
    <h2 class='title'>Reset Your Password</h2>
    <form>
        <input type="password" label='Password' placeholder='old password' name="oldpassword" />
        <input type="password" label='Password' placeholder='new password' name="password" />
        <input type="password" label='Confirm Password' placeholder='confirm Password' name="confirmpassword" />
      <input type="button"  value='Reset Your Password' />
      <p class='p-login'>or Go to Dashboard ? Click Here</p>

    </form>
  </div>

{% endblock body %}