{% extends "index.html" %}

{% block title %}Login{% endblock title %}

{% block body %}
<div class="signup-wrapper">
    <h2 class="title">Welcome to Profile Page on<span>WhatByte .</span></h2>
    <div class="profileContainer">
      <div class="contentContainer">
        <label class="label-input">UserName :</label>
        <label class="label-input-text">UserName</label>
      </div>
      <div class="contentContainer">
        <label class="label-input">Email :</label>
        <label class="label-input-text">Email</label>
      </div>
      <div class="contentContainer">
        <label class="label-input">Date Of Joining :</label>
        <label class="label-input-text">Date Of Joining</label>
      </div>
      <div class="contentContainer">
        <label class="label-input">Last Update :</label>
        <label class="label-input-text">Last Update</label>
      </div>
    </div>
    <p class="p-login">or Go to Dashboard ? Click Here</p>
    <p class="p-login">or Logout ? Click Here</p>
  </div>

{% endblock body %}